{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}
    <title>Главная</title>
{% endblock %}

{% block body %}
    {% load static %}
<div class="container">
    <!--<p><a title="Рисунки различных животных и не только...">Рисунки</a></p>-->
<script type="text/javascript">
    var decodeEntities = (function () {
                        let element = document.createElement('div');
                        function decodeHTMLEntities(str) {
                            if (str && typeof str === 'string') {
                                str = str.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '');
                                str = str.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '');
                                element.innerHTML = str;
                                str = element.textContent;
                                element.textContent = '';
                            }
                            return str;
                        }
                        return decodeHTMLEntities;
                    })();
</script>

    <div id="mainsloi-sohr">
        {% for key, value in image.items %}
            {% if key %}
                <script type="text/javascript">
                    document.getElementById('mainsloi-sohr').innerHTML+=(decodeEntities("{{ value }}"));
                </script>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div id="divtable" class="container" style="display: none">
    <table id="equip_table" class="table border" style="margin-top: 50px" >
        <tr class=''>
            <td>id</td>
            <td>Наименование</td>
            <td>serial_id</td>
            <td>Кабинет</td>
            <td>Этаж</td>
            <td>Корпус</td>
            <td>Кол-во</td>
            {% if username == 'admin' %}
            <td></td>
            <td></td>
            {% endif %}
        </tr>
        {% for equip in equipment %}
            <tr class='success'>
                <form method="POST">
                    {% csrf_token %}
                    <td>
                        {{ equip.id }}
                        <input type="hidden" value="{{ equip.id }}" id="id" name="id">
                    </td>

                    <td>
                        <div id="edit_repl">
                            {{ equip.equip_name }}
                        </div>
                        <div id="edit_field" style="display: none">
                            <input type="text" value="{{ equip.equip_name }}" id="equip_name" name="equip_name">
                        </div>
                    </td>
                    <td>
                        <div id="edit_repl">
                            {{ equip.serial_id }}
                        </div>
                        <div id="edit_field" style="display: none">
                            <input type="text" value="{{ equip.serial_id }}" id="serial_id" name="serial_id">
                        </div>
                    </td>
                    <td>
                        <div id="edit_repl">
                            {{ equip.room }}
                        </div>
                        <div id="edit_field" style="display: none">
                            <input type="text" value="{{ equip.room }}" id="room" name="room">
                        </div>
                    </td>
                    <td>
                        <div id="edit_repl">
                            {{ equip.floor }}
                        </div>
                        <div id="edit_field" style="display: none">
                            <input type="text" value="{{ equip.floor }}" id="floor" name="floor">
                        </div>
                    </td>
                    <td>
                        <div id="edit_repl">
                            {{ equip.building }}
                        </div>
                        <div id="edit_field" style="display: none">
                            <select  id="building" name="building" class="form-control" required>
                                <option value="Лабораторный" {% if equip.building == "Лабораторный" %} selected {% endif %}>Лабораторный</option>
                                <option value="Хозяйственный" {% if equip.building == "Хозяйственный" %} selected {% endif %}>Хозяйственный</option>
                                <option value="Флексим" {% if equip.building == "Флексим" %} selected {% endif %}>Корпус Флекса</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div  id="edit_repl">
                            {{ equip.quantity }}
                        </div>
                        <div id="edit_field" style="display: none">
                            <input type="text" value="{{ equip.quantity }}" id="quantity" name="quantity">
                        </div>
                    </td>
                    {% if username == "admin" %}
                    <td>
                        <input type="hidden" id="edit" name="edit" value="true">
                        <input type="hidden" id="addnew" name="addnew" value="false">
                        <input type="hidden" id="delete" name="delete" value="false">
                        <div id="edit_repl">
                            <input type="button" value="Edit" onclick="editrow('{{ equip.id }}')">
                        </div>
                        <div id="edit_field" style="display: none">
                            <input type="submit" value="Submit" id="edit_field">
                        </div>
                    </td>
                </form>
                <form method="post">
                    {% csrf_token %}
                    <td>
                        <input type="hidden" id="edit" name="edit" value="false">
                        <input type="hidden" id="addnew" name="addnew" value="false">
                        <input type="hidden" id="delete" name="delete" value="true">
                        <input type="hidden" value="{{ equip.id }}" id="id" name="id">
                        <input type="submit" VALUE="Delete">
                    </td>
                </form>
            {% endif %}
            </tr>
        {% endfor %}
    </table>
    <form method="POST">
        {% csrf_token %}

{% if username == "admin" %}
        <div class="form-group">
            <label for="equip_name">Наименование</label>
            <input type="text" id="equip_name_addform" name="equip_name" class="form-control" required>
            <label for="serial_id">serial_id</label>
            <input type="text" id="serial_id_addform" name="serial_id" class="form-control" required>
            <label for="room">Кабинет</label>
            <input type="text" id="room_addform" name="room" class="form-control" required>
            <label for="floor">Этаж</label>
            <input type="text" id="floor_addform" name="floor" class="form-control" required>
            <label for="building">Корпус</label>
            <select  id="building_addform" name="building" class="form-control" required>
                <option value="Лабораторный">Лабораторный</option>
                <option value="Хозяйственный">Хозяйственный</option>
                <option value="Флексим">Корпус Флекса</option>
            </select>
            <label for="quantity">Количество</label>
            <input type="text" id="quantity_addform" name="quantity" class="form-control" required>
            <input type="hidden" id="addnew" name="addnew" value="true">
            <input type="hidden" id="edit" name="edit" value="false">
            <input type="hidden" id="delete" name="delete" value="false">
        </div>
        <input type="submit" class="btn btn-primary" id="Submit" value="Submit">
    </form>
    {% else %}

{% endif %}

</div>
<script type="text/javascript">
    if (getCookie('currentsloi')!=null){
        let sloi=getCookie('currentsloi');
        window.onload=perehodKSloy(sloi);
    }
    function perehodKSloy(idSloya)
    {
        const mainsloi = document.getElementById('mainsloi-sohr');
        const slArr = [];

        for (let y = 0; y < mainsloi.childNodes.length; y++) {
            if(mainsloi.childNodes[y].id)
            {
                slArr.push(mainsloi.childNodes[y].id);
            }
        }
        for(let i = 0; i < slArr.length; i++)
        {
            if(slArr[i] == idSloya)
            {
                document.getElementById(slArr[i]).style.display = "block";
                document.cookie ="lastsloi="+getCookie('currentsloi')+"; max-age=3600";
                document.cookie ="currentsloi="+idSloya+"; max-age=3600";
            }
            else
            {
                document.getElementById(slArr[i]).style.display = "none";
            }
        }
    }

    function filter_table(room, floor, korp) {
        let table, tr, td_room, td_floor, td_building, i, txtValue_room, txtValue_floor, txtValue_building;
        table = document.getElementById("equip_table");
        tr = table.getElementsByTagName("tr");
 
        for (i = 1; i < tr.length; i++) {
            td_room = tr[i].getElementsByTagName("td")[3];
            td_floor = tr[i].getElementsByTagName("td")[4];
            td_building = tr[i].getElementsByTagName("td")[5].getElementsByTagName("div")[0];
            if (td_room && td_floor && td_building) {
                txtValue_room = td_room.textContent || td_room.innerText;
                txtValue_floor = td_floor.textContent || td_floor.innerText;
                txtValue_building = td_building.textContent || td_building.innerText;
                if (txtValue_room.toUpperCase().indexOf(room.toString().toUpperCase()) > -1 &&
                    txtValue_floor.toUpperCase().indexOf(floor.toString().toUpperCase()) > -1 &&
                    txtValue_building.toUpperCase().indexOf(korp.toString().toUpperCase()) > -1) {
                  tr[i].style.display = "";
                } else {
                  tr[i].style.display = "none";
                }
            }
        }
        document.getElementById("divtable").style.display = "";
        document.getElementById("room_addform").value=room.toString().toUpperCase();
        document.getElementById("floor_addform").value=floor;
        let build = document.getElementById("building_addform").options;
        for (let j = 0; j < build.length; j++) {
            if (build[j].value == korp){
                build[j].selected=true;
            }
        }
    }
{% if username == "admin" %}
        function editrow(id) {
            let table, tr, td, i, txtValue, div, input;
            console.log(document.getElementById("addnew"));
            console.log(document.getElementById("edit"));
            table = document.getElementById("equip_table");
            tr = table.getElementsByTagName("tr");
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                if (td[0].innerText == id) {
                    for (let y = 0; y < td.length;y++){
                        for (let z = 0; z < td[y].getElementsByTagName("div").length; z++){
                            let cell = td[y].getElementsByTagName("div")[z];
                            if (cell.id == "edit_repl"){
                                cell.style.display="none";
                            }
                            if (cell.id == "edit_field"){
                                cell.style.display="";
                            }
                        }
                    }
                }
            }
        }
    {% endif %}

    function getCookie(name) {
        let matches = document.cookie.match(new RegExp(
        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }
</script>
{% endblock %}

