{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}
    <title>Ключи</title>
{% endblock %}

{% block body %}
    {% load static %}
<div class="tab">
  <button class="tablinks" onclick="openKeys(Event, 'AllKeys')" id="defaultTab">Все ключи</button>
  <button class="tablinks" onclick="openKeys(Event, 'UserKeys')">Пользовательские ключи</button>
  <button class="tablinks" onclick="openKeys(Event, 'Users')">Все пользователи</button>
</div>
<div id="AllKeys" class="tabcontent">
  <h3>Все ключи</h3>
  <p>Здесь будет список всех ключей.</p>
</div>

<div id="UserKeys" class="tabcontent">
  <h3>Пользовательские ключи</h3>
  <p>Здесь будет список всех пользователей с их ключами.</p>
</div>

<div id="Users" class="tabcontent">
  <h3>Пользователи</h3>
  <p>Здесь будет список всех пользователей.</p>
</div>
    {% endblock %}
